Votre période d’essai à My Elton est maintenant terminée
<br/>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="31" height="45"><img src="www.myelton.fr/ME/ME_head_1g.jpg" border="0" style="display:block" /></td>
    <td width="121" height="45"><a href="http://www.playbacpresse.fr" target="BLANK"><img src="www.myelton.fr/ME/ME_head_1m_logo.jpg" border="0" style="display:block" /></a></td>
    <td width="460" height="45"><img src="www.myelton.fr/ME/ME_head_1d.jpg" border="0" style="display:block" /></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="237" height="60"><img src="www.myelton.fr/ME/ME_head_2g.jpg" border="0" style="display:block" /></td>
    <td width="138" height="60"><a href="http://www.myelton.fr" target="BLANK"><img src="www.myelton.fr/ME/ME_head_2m_logo.jpg" border="0" style="display:block" /></a></td>
    <td width="237" height="60"><img src="www.myelton.fr/ME/ME_head_2d.jpg" border="0" style="display:block" /></td>
  </tr>
  <tr>
    <td width="612" height="36" colspan="3"><img src="www.myelton.fr/ME/ME_head_3.jpg" border="0" style="display:block" /></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="485" height="27"><img src="www.myelton.fr/ME/ME_head_4g.jpg" border="0" style="display:block" /></td>
    <td width="26" height="27"><a href="https://www.facebook.com/pages/My-Elton/1453403721612011?ref=bookmarks" target="BLANK"><img src="www.myelton.fr/ME/ME_head_4m_fcb.jpg" border="0" style="display:block"/></a></td>
    <td width="26" height="27"><a href="https://twitter.com/my_elton" target="BLANK"><img src="www.myelton.fr/ME/ME_head_4m_twit.jpg" border="0" style="display:block"/></a></td>
    <td width="25" height="27"><a href="https://plus.google.com/+MyeltonFr/posts" target="BLANK"><img src="www.myelton.fr/ME/ME_head_4m_gplus.jpg" border="0" style="display:block"/></a></td>
    <td width="50" height="27"><img src="www.myelton.fr/ME/ME_head_4d.jpg" border="0" style="display:block" /></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="612" height="30"><img src="www.myelton.fr/ME/ME_corps_1.jpg" border="0" style="display:block" /></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" style="background-color:#F6F6F6" align="center"><!--line-height:19px-->
  <tr>
    <td width="58"><img src="www.myelton.fr/ME/ME_corps_2g_SMALL.jpg" style="display:block" border="0" /></td>
    <td width="493" align="left" valign="top"><font face="helvetica,arial,sans-serif" size="2" color="#38373A">
    	<br />
        Bonjour {{user.civilite}} {{user.name}} !<br />
        <br />
        Votre p&eacute;riode d’essai de My Elton est maintenant termin&eacute;e.
        <br />
        Vous ne pouvez plus acc&eacute;der au contenu du site !
        <br />
        <br />
        Toutefois, l’offre à laquelle vous avez souscrite reste valable : vous pouvez d&egrave;s maintenant d&eacute;bloquer tous les cours et tout le contenu du site jusqu’en juillet inclus pour 5€ seulement !
        <br />
        <br />
        Pour cela, nous vous proposons 2 solutions :
        <br />
        <ul>
          <li>paiement par carte bleue, en cliquant  <a href="http://www.myelton.fr{{url}}" class="btn btn-danger" type="submit" style="color:#159FC5;border:none;background:transparent;text-decoration:underline;">ici</a> </li>
          <li>paiement par ch&egrave;que à l’ordre de Play Bac Presse ou en liquide, en imprimant ce mail et en le retournant avec le paiement &agrave; Play Bac Presse - My Elton, 14bis rue des Minimes, 75003 PARIS</li>
        </ul>
        Vous pourrez profiter pleinement de toutes les possibilit&eacute;s offertes par My Elton d&egrave;s validation de votre paiement.
    <td width="61"><img src="www.myelton.fr/ME/ME_corps_2d_SMALL.jpg" style="display:block" border="0"/></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="612" height="24" colspan="3"><img src="www.myelton.fr/ME/ME_foot_1.jpg" border="0" style="display:block" /></td>
  </tr>
  <tr>
    <td width="215" height="25"><img src="www.myelton.fr/ME/ME_foot_2g.jpg" border="0" style="display:block" /></td>
    <td width="184" height="25"><a href="http://www.myelton.fr" target="BLANK"><img src="www.myelton.fr/ME/ME_foot_2m_clic.jpg" border="0" style="display:block"/></a></td>
    <td width="213" height="25"><img src="www.myelton.fr/ME/ME_foot_2d.jpg" border="0" style="display:block" /></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="612" height="43" colspan="3"><img src="www.myelton.fr/ME/ME_foot_3.jpg" border="0" style="display:block" /></td>
  </tr>
  <tr>
    <td width="65" height="14"><img src="www.myelton.fr/ME/ME_foot_4g.jpg" border="0" style="display:block" /></td>
    <td width="86" height="14"><a href="mailto:elton@playbac.fr" target="BLANK"><img src="www.myelton.fr/ME/ME_foot_4m_mail.jpg" border="0" style="display:block"/></a></td>
    <td width="461" height="14"><img src="www.myelton.fr/ME/ME_foot_4d.jpg" border="0" style="display:block"/></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" >
  <tr>
    <td width="612" height="32" colspan="3"><img src="www.myelton.fr/ME/ME_foot_5.jpg" border="0" style="display:block" /></td>
  </tr>
  <tr>
    <td width="429" height="28"><img src="www.myelton.fr/ME/ME_foot_6g.jpg" border="0" style="display:block" /></td>
    <td width="153" height="28"><a href="http://www.playbacpresse.fr" target="BLANK"><img src="www.myelton.fr/ME/ME_foot_6m.jpg" border="0" style="display:block"/></a></td>
    <td width="30" height="28"><img src="www.myelton.fr/ME/ME_foot_6d.jpg" border="0" style="display:block"/></td>
  </tr>
</table>
<table border="0" width="540" height="101" align="center" style="text-align:center;">
  <tbody>
    <tr>
      <td><font face="helvetica,arial,sans-serif" size="1" color="#38373A">Conform&eacute;ment &agrave; la loi fran&ccedil;aise &quot;informatique et libert&eacute;s&quot; du 6 janvier 1978 sur la protection des donn&eacute;es personnelles et de la vie priv&eacute;e, vous pouvez &agrave; tout moment demander &agrave; acc&eacute;der, faire rectifier ou supprimer les informations personnelles vous concernant ou vous opposer &agrave; leur traitement par playbacpresse.fr<br /><br/>
      </td>
    </tr>
  </tbody>
</table>