<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Elton, pour vous servir !{% endblock %}</title>
        {% stylesheets filter='lessphp,?cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less' 
                'bundles/eltoncore/less/*'  %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
        {% block googleAnalytics %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-50453065-1', 'myelton.fr');
              ga('send', 'pageview');

            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav>
                <ul class="nav nav-pills menuBar curve" role="navigation">
                    <li style="margin-left:350px" class="divider-vertical"></li>
                    <li class="active"><a class='myEltonButtonMenu text-center' href="#home" data-toggle="tab">Accueil</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class='myEltonButtonMenu text-center' href="#knowMore" data-toggle="tab">En savoir plus</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class='myEltonButtonMenu text-center' href="#theySay" data-toggle="tab">Ce qu'ils en disent</a></li>
                    <li class="divider-vertical"></li>
                </ul>
            </nav>
            
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">Lalalala</div>
                    <div class="tab-pane fade" id="knowMore">Lulululu</div>
                    <div class="tab-pane fade" id="theySay">Lililili</div>
                </div>
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('bundles/eltoncore/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/eltoncore/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
