parameters:
    database_driver:   pdo_mysql
    database_host:     pma.playbac.fr 
    database_port:     ~
    database_name:     myelton
    database_user:     myelton
    database_password: pbpelton!2014

    elton.user: userpass
    elton.admin: adminpass
    session_name: polo

    mailer_transport:  smtp
    mailer_host:       smtp-auth.sfr.fr
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            cej73fkn
