{% extends '::base.html.twig' %}
{% block body %}
    {{ parent () }}
    {% form_theme form 'EltonCoreBundle:Form:create_field.html.twig' %}
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top: 50px;">
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div class="center">
                    <input type="submit" class="buttonAll violetBis" value="Modifier" />
            </div>
        </form>
    </div>
{% endblock %}