{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="lessonCategoryTitle">Écheangons !</h1>
            <p class="lessonTexte">Choisissez dans le menu déroulant le sujet de votre question, puis entrez votre question !
            </p>
        </div>
    </div>
{% endblock %}