{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class='center' style='margin-top: 50px;'>
        <h1>Réglages</h1><br/><br/>
        <a class="buttonAll bleu fs18" href="{{path('teacher_options_divisions')}}"><span>Mes classes</span></a> &nbsp &nbsp                     
        <a class="buttonAll violetBis fs18" href="{{path('fos_user_profile_edit')}}"><span>Mon compte</span></a>
    </div>
{% endblock %}
