{% extends '::base.html.twig' %}

{% block body -%}
    {{parent()}}
    <br/>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <h1 class="center" style="margin-bottom: 25px;">Création de votre classe</h1>
        {% form_theme form 'EltonCoreBundle:Form:create_field.html.twig' %}
        <div>
            {{form(form)}}
        </div>
    </div>
{% endblock %}
