{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="center">
        <p class="mt50" style="font-weight: bold;">{{ 'registration.check_email_title'|trans }}</p>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock fos_user_content %}
