/* 
    Created on : 17 avr. 2014, 11:03:19
    Author     : Christian Hiroz
*/
/* 
    Created on : 17 avr. 2014, 11:03:32
    Author     : Christian Hiroz
*/
.btnOrangeElton {
  background-color: #f79321;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
}
.btnBeigeElton {
  background-color: #f8c693;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
}
.header {
  min-width: 900px;
  background-image: url(/images/myElton-banner.jpg);
  background-repeat: repeat-x;
}
.text-header {
  position: absolute;
  width: auto;
  top: 20px;
  text-align: center;
}
