/* 
    Created on : 17 avr. 2014, 11:03:32
    Author     : Christian Hiroz
*/
/* 
    Created on : 17 avr. 2014, 11:04:52
    Author     : Christian Hiroz
*/
img.resizeHeaderLogo {
  width: auto;
  height: 200px;
}
img.btn-gestion {
  height: 60px;
  width: auto;
}
img.resizeHeaderTeacherElton {
  width: auto;
  height: 80px;
}
img.resizeHeaderTeacherLogo {
  width: auto;
  height: 100px;
}
img.resizeHeaderElton {
  width: auto;
  height: 150px;
}
.menuBar {
  background: #f29400;
  height: 40px;
}
.smallElton {
  background: url(../bundles/eltoncore/images/smallElton_orange.png) no-repeat;
  width: 128px;
  height: 216px;
  float: left;
}
.btnOrangeElton {
  background-color: #f29400;
  box-shadow: 1px 1px 12px #f29400;
  color: #000000;
  width: 210px;
}
.txtOrangeElton {
  color: #f29400;
}
.btnBeigeElton {
  background-color: #ffcc96;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 210px;
}
.width150 {
  width: 150px;
}
.shadow {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.bold {
  font-weight: bold;
}
.txtBlack {
  color: #000000;
}
.btnOrangeEltonPetit {
  background-color: #f29400;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 105px;
}
.btnBeigeEltonPetit {
  background-color: #ffcc96;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 105px;
}
.btnOrangeEltonGrand {
  background-color: #f29400;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 300px;
}
.btnBeigeEltonGrand {
  background-color: #ffcc96;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 300px;
}
.nav {
  margin-top: 10px;
}
.tab-content {
  margin-top: 20px;
}
table {
  border: 1px solid #eee;
  border-radius: 5px;
  border-collapse: inherit;
}
thead {
  background-color: #eee;
}
.newLevelDiv {
  width: 500px;
  height: 400px;
  border: 1px solid #000000;
}
.ml50 {
  margin-left: 50px;
}
.ml150 {
  margin-left: 150px;
}
.mlSubmit {
  margin-left: 222px;
  margin-top: 20px;
}
.width50 {
  width: 50%;
}
.modalFS {
  font-size: 150%;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.err404 {
  background: url(../bundles/eltoncore/images/404error.jpg) no-repeat;
  width: 1000px;
  height: 1000px;
  margin-top: 50px;
  margin-left: 300px;
}
.curve:before {
  top: 52px;
  left: 5px;
  transform: rotate(-5deg);
  box-shadow: 7px 6px 15px #333;
}
.curve:after {
  top: 52px;
  right: 5px;
  transform: rotate(5deg);
  box-shadow: -7px 6px 15px #333333;
}
.divider-vertical {
  border-left: 1px solid #f79321;
  border-right: 1px solid #df7401;
  height: 40px;
}
.myEltonButtonMenu {
  margin-right: -3px;
  background-color: #f29400;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 200px;
}
.myEltonButtonMenu:hover {
  background-image: linear-gradient(to bottom, #f29400, #e36929);
  background-color: #e36929;
  color: #ffffff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-image: linear-gradient(to bottom, #f79321, #df7401);
  background-color: #df7401;
  color: #ffffff;
}
.playBacPresse {
  background: url(../bundles/eltoncore/images/logoplaybac.png) no-repeat;
  height: 84px;
  width: 200px;
}
a.btn-elton {
  position: relative;
  color: white;
  display: inline-block;
  text-align-last: center;
  text-transform: uppercase;
  max-width: 150px;
  border-radius: 15px 0px 15px 15px;
  width: 150px;
  margin-bottom: 10px;
}
a.btn-elton:before {
  max-width: 150px;
  display: block;
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  top: -15px;
  border-style: solid;
  border-width: 0 0px 15px 135px;
  border-radius: 0px 45px 0px 0px;
  left: 15px;
}
a.btn-elton > span {
  display: block;
  padding: 20px;
  font-weight: bold;
}
ul.btn-divisionUl li {
  height: auto;
  width: 217px;
}
.btn-division {
  width: 220px;
  height: 45px;
  margin: 35px 0px 0px 353px;
  font-size: 20px;
}
.btn-division span {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 15px solid;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  margin: -3px -27px -4px 27px;
}
.btn-division .white {
  color: white !important;
}
.blueLogo {
  background: #0a71b4;
}
.blueLogo:before {
  border-color: transparent transparent #0a71b4 transparent;
}
.orange {
  background: #f29400;
}
.orange:before {
  border-color: transparent transparent #f29400 transparent;
}
.orangeDeg {
  background: #e36929;
}
.orangeDeg:before {
  border-color: transparent transparent #e36929 transparent;
}
.blue {
  background: #66b8dc;
}
.blue:before {
  border-color: transparent transparent #66b8dc transparent;
}
.gris {
  background: #cdcad4;
}
.gris:before {
  border-color: transparent transparent #cdcad4 transparent;
}
.grisSombre {
  background: #38373a;
}
.grisSombre:before {
  border-color: transparent transparent #38373a transparent;
}
.rouge {
  background: #be0926;
}
.rouge:before {
  border-color: transparent transparent #be0926 transparent;
}
.turquoise {
  background: #219e98;
}
.turquoise:before {
  border-color: transparent transparent #219e98 transparent;
}
.violet {
  background: #cd0054;
}
.violet:before {
  border-color: transparent transparent #cd0054 transparent;
}
.beige {
  background: #ffcc96;
}
.beige:before {
  border-color: transparent transparent #ffcc96 transparent;
}
.header .elton {
  margin: -15px 0px -10px 440px;
}
.header .playbac {
  margin: 34px 0px -5px 21px;
  float: left;
}
.header .title {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-top: -20px;
}
.header .buttons {
  float: right;
  margin: -200px 75px 0px 0px;
}
.headerTeacher {
  margin: -5px 0px 106px 0px;
}
.headerTeacher .elton {
  float: left;
  margin-left: 10px;
}
.headerTeacher .buttons {
  float: right;
  margin: 25px 30px 0px 0px;
}
