/* 
    Created on : 17 avr. 2014, 11:03:19
    Author     : Christian Hiroz
*/
/* 
    Created on : 17 avr. 2014, 11:03:32
    Author     : Christian Hiroz
*/
.menuBar {
  background: #f79321;
  height: 40px;
}
.smallElton {
  background: url(../bundles/eltoncore/images/smallElton_orange.png) no-repeat;
  width: 128px;
  height: 216px;
  float: left;
}
.btnOrangeElton {
  background-color: #f79321;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 210px;
}
.txtOrangeElton {
  color: #f79321;
}
.btnBeigeElton {
  background-color: #f8c693;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 210px;
}
.header {
  width: 750px;
  height: 250px;
  background: url(../bundles/eltoncore/images/myElton-banner.jpg) no-repeat;
}
.bold {
  font-weight: bold;
}
.txtBlack {
  color: #000000;
}
.btnOrangeEltonPetit {
  background-color: #f79321;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 105px;
}
.btnBeigeEltonPetit {
  background-color: #f8c693;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 105px;
}
.btnOrangeEltonGrand {
  background-color: #f79321;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 300px;
}
.btnBeigeEltonGrand {
  background-color: #f8c693;
  box-shadow: 1px 1px 12px #555555;
  color: #000000;
  width: 300px;
}
.nav {
  margin-top: 10px;
}
.tab-content {
  margin-top: 20px;
}
table {
  border: 1px solid #eee;
  border-radius: 5px;
  border-collapse: inherit;
}
thead {
  background-color: #eee;
}
.newLevelDiv {
  width: 500px;
  height: 400px;
  border: 1px solid #000000;
}
.ml50 {
  margin-left: 50px;
}
.ml150 {
  margin-left: 150px;
}
.mlSubmit {
  margin-left: 222px;
  margin-top: 20px;
}
.width50 {
  width: 50%;
}
.modalFS {
  font-size: 150%;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.err404 {
  background: url(../bundles/eltoncore/images/404error.jpg) no-repeat;
  width: 1000px;
  height: 1000px;
  margin-top: 50px;
  margin-left: 300px;
}
.curve:before {
  top: 52px;
  left: 5px;
  transform: rotate(-5deg);
  box-shadow: 7px 6px 15px #333;
}
.curve:after {
  top: 52px;
  right: 5px;
  transform: rotate(5deg);
  box-shadow: -7px 6px 15px #333333;
}
.divider-vertical {
  border-left: 1px solid #f79321;
  border-right: 1px solid #df7401;
  height: 40px;
}
.myEltonButtonMenu {
  margin-right: -3px;
  background-color: #f79321;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 200px;
}
.myEltonButtonMenu:hover {
  background-image: linear-gradient(to bottom, #f79321, #df7401);
  background-color: #df7401;
  color: #ffffff;
}
.myEltonButtonMenu:focus {
  background-image: linear-gradient(to bottom, #f79321, #df7401);
  background-color: #df7401;
  color: #ffffff;
}
.myEltonButtonMenu.active {
  background-image: linear-gradient(to bottom, #f79321, #df7401);
  background-color: #df7401;
  color: #ffffff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover > .myEltonButtonMenu.active {
  background-image: linear-gradient(to bottom, #f79321, #df7401);
  background-color: #df7401;
  color: #ffffff;
}
