/* 
    Created on : 17 avr. 2014, 11:03:32
    Author     : Christian Hiroz
*/

@import 'variable.less';

h2, h3, h4 {font-weight:normal !important;}

h4{margin-left:5px!important;}

hr {color: grey;background: grey; width: 95%; height: 2px!important;}

a, a:hover, a:focus{text-decoration:none!important;}

h3 { margin-top:-5px !important;}

.justify{ text-align:justify; padding-left:60px; }

body {font-family:helvetica, trebuchet, sans-serif !important;font-size:14px;min-height:100%; width:100%; }
 
p {color:grey;margin-left:36px !important; text-align:inherit;}

img.resizeHeaderLogo{width:auto;height: 200px;}

img.resizePlume{width:auto; height:20px; margin-left:5px;opacity: 0.7;filter: alpha(opacity=40); /* For IE8 and earlier */}

img.resizeRes{width:auto; height:40px; }

img.resizeCons{width:auto; height:160px; }

img.resizeSpan2{width:auto;height:25px; padding-bottom:7px; margin-left:10px; margin-bottom:15px; margin-right:7px;}

img.btn-gestion{height:60px;width:auto;}

img.resizeHeaderTeacherElton{width: auto;height: 80px;}

img.resizeHeaderTeacherLogo{width: auto;height: 100px;}

img.resizeHeaderElton{width:auto;height: 150px;}

img.resizeElton{width:auto;height: 300px;}

img.resizeSpan{width:auto;height:30px; margin-top:-14px;}

.sectionH2{margin-top:60px; margin-bottom:30px;margin-left:-21px;}

.sectionH2bis{margin-top:30px; margin-bottom:15px;margin-left:-37px;font-size:25px!important;}

.playbac {margin:15px 0px 0px 15px; position:absolute;}

.cons { margin-left:230px; margin-top:25px; position:absolute; float:left;}

.menuBar {background: #F29400; height:40px !important;}

.divider-vertical {border-left: 1px solid #f79321;border-right: 1px solid #df7401;height: 40px;display:inline-block;}

.myEltonButtonMenu {margin-right: -3px;background-color: #F29400;display: inline-block;cursor: pointer;color: #ffffff;font-family: arial;font-size: 15px;font-weight: bold;height: 40px;width: 200px;}

.myEltonButtonMenu:hover{background-image: linear-gradient(to bottom, #F29400, #E36929);background-color: #E36929;color: #ffffff;}

.nav-pills > li.active > a,.nav-pills > li.active > a:hover{background-image: linear-gradient(to bottom, #f79321, #df7401);background-color: #df7401;color: #ffffff;}

.centered-pills { text-align:center; }

.centered-pills ul.nav-pills { display:inline-block; }

.centered-pills li { display:inline; }

.centered-pills a { float:left; }

.h100{ height:100px !important;}

.screenMl20 { margin-left:20px!important; }

.disInBl { display: inline-block; }

* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */

*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.footer{margin-top:75px;}

.centeredFooter{margin-bottom:25px;}

.rightFooter{float:right!important; text-align:right!important;}

.footerText{ text-align:center; margin-top: 35px;}

.row{width:100%!important;}
.container {width: 100%!important;}

@media screen and (max-width : 768px){
  .myEltonButtonMenu{width:120px; 	 font-size:12px !important;}
  .divider-vertical{height:40px;}
}

@media screen and (max-width: 430px){
  .myEltonButtonMenu{width:95px; height:50px; font-size:12px !important;}
  .body{font-size:12px !important;}
  .menuBar{height:50px !important;}
  .divider-vertical{height:50px;}
  .rightFooter{ text-align:center!important; margin-bottom:25px;}
  .row{margin-left:0px !important;}
  .leftFooter{margin-bottom:25px;}
  hr{width:75%;}
  .sectionH2bis{font-size:22px!important; margin-left:-5px;}
  .spanFAQ{margin-bottom:75px!important;}
  img.resizeSpan2{margin-bottom:90px!important;}
}


@media screen and (max-width: 993px){
  .leftFooter, .rightFooter{float:none!important; text-align:center!important; margin-bottom:25px;}
  .sectionH2bis{font-size:22px!important; margin-left:-5px;}
  .spanFAQ{margin-bottom:75px!important;}
  .row{margin-left:0px !important;}
}

@media screen and (min-width:1067px) and (max-width:1225px){
  .cons {margin-left:180px;}
  img.resizeCons{height:140px;}
}

@media screen and (min-width:900px) and (max-width:1067px){
  .cons {margin-left:130px;}
  img.resizeCons{height:120px;}
}

@media screen and (min-width:700px) and (max-width:900px){
  .cons {margin-left:75px;}
  img.resizeCons{height:120px;}
}

