/* 
    Created on : 17 avr. 2014, 11:04:52
    Author     : Christian Hiroz
*/

//Colors
@orangeElton:#f79321;
@orangeEltonDeg:#df7401;
@beigeElton:#f8c693;

//Files
@smallEltonOrange: url(../images/smallElton_orange.png);
@smallBannerElton: url(../images/Logo_myeltonSmall.jpg);
@bannerElton: url(../images/Logo.jpg);
@error404: url(../images/404error.jpg);
@playBacPresse: url(../images/logoplaybac.png);