{% extends "::base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class=" buttonTableCont ">
                    <a class="buttonTable blueLogo fs18" href="{{path('monthly_event')}}">Évènement du mois</a>
                    <a class="buttonTable red fs18" href="{{path('cultural_event')}}">Élément culturel</a>
            </div>
        </div>
    </div>
{% endblock %}