{% extends "::base.html.twig" %}

{% block body -%}
    {{ parent() }}
    <div>
        <table class="breadcrumb">
            <tbody>
                <tr>
                    <th class="txtOrangeElton">Nom</th>
                    <td>{{ entity.libelle }}</td>
                </tr>
                <tr>
                    <th class="txtOrangeElton">Niveau</th>
                    <td>{{ entity.level.libelle }}</td>
                </tr>
                    <th class="txtOrangeElton">Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <div class="smallElton"></div>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}