{% extends 'EltonCoreBundle:Core:backOffice.html.twig' %}

{% block body %}
    {{ parent() }}
    <div  style="margin: 0px 0px 25px 0px;">
        <h1 class="label label-warning bold">&nbsp  Liste des fichiers</h1>
    </div>
    <center>    
            {% for entity in entities %}
            <table class="breadcrumb" style="margin: 0px 0px 100px 0px">
                <thead>
                    <tr>
                        <th>Nom du champ &nbsp</th>
                        <th>Valeur du champ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="txtOrangeElton">Nom fichier</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th class="txtOrangeElton">Extension du fichier</th>
                        <td>{{ entity.url }}</td>
                    </tr>
                    <tr>
                        <td>
                            <br/>
                            <a class="btn shadow bold btnBeigeEltonPetit" href="{{ path('file_show', {'id' : entity.id})}}" style="margin: 0px 0px 0px 90px;">Détails</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            {% endfor %}
    </center>
    {% endblock %}
